.err {
    color: red;
}

.sidemenu {
    background-color: darkgrey;
    height: 100%;
}

.leftmenu {
    padding-top: 0px;
}

div.sidemenu {
    vertical-align: top;
    padding-top: 0px;
    margin-top: 0px;
    align: top;
}

#endOfCalendars {
    clear: both;
}


.projectDate{
    border: 1px solid black;

}

#avatar {
    margin-left: 20px;
    margin-top: 10px;
    width: 100px;
    height: 100px;
}

table.calendar {
    margin: 2px;
}

div.calendar {
    float: left;
    border-radius: 25px;
    background: #739D21;
    margin: 2px;
}

table.calendar th {
    align-content: left;
}

.occupiedDay {
    background: midnightblue;
}

.event {
    display: block;
    padding: 1px;
    margin: 2px;
    border-radius: 25px;
    background-color: green;

}

.highlight{
    background-color: maroon;
    border-radius: 25px;
}