.err {
    color: red;
}

.sidemenu {
    background-color: darkgrey;
    height: 100%;
}

.leftmenu {
    padding-top: 0px;
}

div.sidemenu {
    vertical-align: top;
    padding-top: 0px;
    margin-top: 0px;
    align: top;
}

#endOfCalendars {
    clear: both;
}

.projectDate {
    border: 1px solid black;

}

#avatar {
    margin-left: 20px;
    margin-top: 10px;
    width: 100px;
    height: 100px;
}

table.calendar {
    margin: 2px;
}

div.calendar {
    float: left;
    border-radius: 25px;
    background: #739D21;
    margin: 2px;
}

table.calendar th {
    align-content: left;
}

.event {
    display: block;
    padding: 1px;
    margin: 2px;
    border-radius: 25px;
    background-color: green;

}

.occupiedDay {
    border-radius: 25px;
    background-color: green;
}

.highlight {
    background-color: seagreen;
    border-radius: 25px;
}

.postAvatar {
    height: 40px;
    width: 40px;
    border-radius: 25px;
    float: left;
}

.postHeader {
    font-size: smaller;
    font-style: oblique;
}
.postText{
    background-color: green;
    display: inline-block;
}
.postText::before{
    content: '\00000A';
}

.post{
    clear: both;
    margin: 5px;
    border-bottom-color: olive;
    border-bottom-style: dotted;
    padding-bottom: 10px;
}


.addComment{
    background-color: green;
    display: inline-block;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 3px;

}