<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:replace="views/fragments/layout :: headData"> </span>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr th:replace="views/fragments/layout :: top">
    </tr>
    <tr>
        <td th:replace="views/fragments/layout :: left">
        </td>
        <td>
            <form method="post" action="/user/updateAvailibleDates">

                <div class="calendar" th:each="monthOffset :${numberOfMonthsInScope}">
                    <table
                            class="calendar"
                            th:with="today = ${#dates.createNow()},
                            month=${(today.getMonth()+monthOffset)>12}?${(today.getMonth()+monthOffset)-12}:${(today.getMonth()+monthOffset)},
                            year=${(today.getMonth()+1)<=month}?${today.getYear()-100+2000}:${today.getYear()-100+2001},
                            firstDayOfMonth = ${#temporals.create(year, month, '1') },
                            lastDayOfMonth = ${ #temporals.create(year, month, daysInMonth.get(month))},
                            monthStartedWith=${#temporals.dayOfWeek(firstDayOfMonth)}">
                        <tr>
                            <th colspan="7" th:text="${year} +' ' + ${month}"/>
                        </tr>
                        <tr th:each="dayOfWeek : ${weekDays}">
                            <th th:text="#{NameOfDayOfWeek+${dayOfWeek}}"></th>
                            <td th:each="weekNumber:${maxNumberOfWeeksInMonth}"
                                th:with="dayOfMonth = ${(weekNumber -1)*7+dayOfWeek-monthStartedWith+1}, fieldDate=${year}+'-'+(${month}<10?('0'+${month}):${month})+'-'+(${dayOfMonth}<10?('0'+${dayOfMonth}):${dayOfMonth})"
                                th:class="${'calendar '+ fieldDate}">
                                <input type="checkbox"
                                       th:id="cb+${fieldDate}"
                                       th:checked="${#lists.contains(occupiedDates,fieldDate)}"
                                       th:if="${dayOfMonth>0 && dayOfMonth<=#temporals.day(lastDayOfMonth)}"
                                       name="eventDates"
                                       th:value="${#dates.format(#dates.create(year, month,dayOfMonth),'yyyy-MM-dd')}"
                                       th:text="${dayOfMonth}"
                                />

                            </td>
                        </tr>
                    </table>
                </div>

                <div id="endOfCalendars">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <input type="submit" value="zaktualizuj"/>
                </div>
            </form>

            <div class="event" th:attr="data-eventdate=${eventDate.date}" th:classappend="${eventDate.date}" th:each="eventDate : ${eventDates}">
                <span class="projectDate" th:text="${eventDate.date}"></span>
                <span th:class="${eventDate.date}"
                      th:text="${#objects.nullSafe( eventDate.prerequisite.fieldValue, 'none')}"></span>
                <span th:class="${eventDate.date}"
                      th:text="${#objects.nullSafe(eventDate.occupiedBy.name,'none')}"></span>
                <span th:class="${eventDate.date}"
                      th:text="${#objects.nullSafe(eventDate.occupiedBy.movie,'none')}"></span>


            </div>
        </td>
    </tr>


</table>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/views/js/projects.js}"></script>
</body>
</html>