<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:replace="views/fragments/layout :: headData"> </span>
    <meta charset="UTF-8">
    <title>Movie Details</title>
</head>
<body>
<table>
    <tr th:replace="views/fragments/layout :: top">
    </tr>
    <tr>
        <td th:replace="views/fragments/layout :: left">
            Zawartość widoku
        </td>
        <td>
            <form method="post" th:object="${movie}">
                <input type="text">
                <input th:if="${editable}" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <input type="hidden" id="movieId" th:value="*{id}" />
                <input th:if="${editable}" type="submit"/>
            </form>
        </td>
    </tr>
</table>
<div class="moviePost">

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/views/js/movieDetails.js}"></script>
</body>
</html>