<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <span th:replace="views/fragments/layout :: headData"> </span>
    <meta charset="UTF-8">
    <title>myMovies</title>
</head>
<body>
<table>
    <tr th:replace="views/fragments/layout :: top">
    </tr>
    <tr>
        <td th:replace="views/fragments/layout :: left">
            Zawartość widoku
        </td>
        <td>

            <table border="1">
                <th>tytuł</th>
                <th>opis</th>
                <tr th:each="movie :${movies}">
                    <td><a th:href="@{/movie/moviedetails/{id}/(id=${movie.id})}" th:text="${movie.name}">link</a></td>
                    <td th:text="${movie.description}"></td>
                </tr>
            </table>
            zawartosc strony
        </td>
    </tr>
</table>
</body>
</html>